/* --------General------- */

html {
  font-weight: normal;
  font-family: "PT Sans";
  line-height: 1.5;
}

/* --------Body--------- */

body {
  background-color: #c9b5ab;
  font-family: "PT Sans";
}

body nav {
  font-size: 1.125rem;
}

header {
  font-size: .8rem;
}

img {
  width: 100%;
}

h1, h2 {
  color: #3f1622;
}

nav ol {
  list-style-type: none;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
  font-family: "PT Sans";
}

figcaption {
  color: #222;
  font-family: "PT Serif";
  text-align: center;
}

main {
  color: #222;
  font-family: "PT Serif";
  font-weight: bold;
}

blockquote {
  font-family: serif;
  font-style: italic;
}

blockquote p {
  font-size: 1.5rem;
}

blockquote cite {
  font-size: .8rem;
}

li {
  font-family: serif;
}

dt {
  font-family: serif;
}

ol {
  font-family: serif;
}

h2 p {
  font-style: italic;
}
