body {
  background-color: #c9b5ab;
  font-family: 'PT Sans', 'PT Serif';
  line-height: 1.5;
}

img {
  width: 100%;
}

h1 {
  color: #3f1622
}

nav ol {
  list-style-type: none;
}

nav a {
  color: #8f2440;
  text-decoration: none;
}

nav a:hover {
  color: #3f1622;
  text-decoration: underline;
}

nav a:hover {
  font-weight: normal;
}
